<style>

    .container-fig {
      display: grid;
      margin-top : 5px;
      gap: 5px;
      grid-template-columns: auto auto;
     

      padding: none;
  }
    .container-fig > div {
      background-color: #f1f1f1;
      border: 1px solid black;
      padding: 0px;
      gap: 5px;
      font-size: 30px;
      text-align: center;
      margin-top : 5px;
      margin-bottom: 5px;
      
  }

  #dream-single-post-main a img{
 margin-top: 0px;
 
}

#dream-single-post-main figcaption p{
 margin-top:5px;
 margin-bottom:-8px;
 font-style:italic;
 color:#2c3e50;
}

</style>

    <div class="container-fig" >
     {{ .Inner }}
</div> 




